@use "../../styles/variables.scss" as *;

.backlinks {
  display: flex;
  flex-direction: column;
  flex: 1 2 auto;
  height: 100%;
  min-height: 170px;

  & > h3 {
    font-size: 1rem;
    margin: 0;
    flex-shrink: 0;
  }

  & > ul.overflow {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0.2rem 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    min-height: 250px;

    & > li {
      & > a {
        background-color: transparent;
        font-size: 0.85rem;
        
        &.thoughts-link {
          color: var(--sidebar-title);
        }
      }
    }
  }
}
