@use "../../styles/variables.scss" as *;
@use "./custom.scss" as *;

ul.section-ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5em; // for each sub-item
}

li.section-li {
  position: relative;
  padding-left: 1em;
  margin-left: 0.5em;
  margin-top: 0.5em; // for each sub-item
  margin-bottom: 0.5em; // for each sub-item

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    bottom: 0.5em;
    width: 3px;
    background-color: var(--tag-color);
    border-radius: 2px;
  }

  & > .section {
    display: grid;
    grid-template-columns: auto 1fr; // date takes only what it needs, title gets the rest
    column-gap: 0.75rem;

    @media all and ($mobile) {
      & > .tags {
        display: none;
      }
    }

    & > .desc > h3 > a {
      background-color: transparent;
    }

    & .meta {
      margin: 0;
      font-size: 1rem;
      opacity: 0.6;
      white-space: nowrap;
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: fit-content(8em) 1fr !important;

  & > .tags {
    display: none;
  }
}
